{% extends 'layout.html' %}

{% block title %}Welcome - Disaster Management{% endblock %}

{% block content %}
<div class="home-hero"></div>  <!-- Background image -->

<div class="home-content text-center mt-5 animate-fade-in">
    <h1 class="mb-4">Welcome to Disaster Management System</h1>
    <p class="lead mb-4">Please login or register to continue.</p>

    <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg mx-2 shadow-sm">Login</a>
    <a href="{{ url_for('register') }}" class="btn btn-success btn-lg mx-2 shadow-sm">Register</a>
</div>

<footer class="bg-whitetext-white text-center py-3 mt-5 text-center mt-5 mb-3 text-muted">
    <a href="{{ url_for('credits') }}" class="btn btn-outline-light btn-sm mt-2">View Credits</a>
    <br>
    <br>
    <p>Developed by <b>Coders'71</b></p>
</footer>

{% endblock %}
